*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #264348; /* Petroleum color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }

  h1 {
    color: #eaeaea;
    text-align: center;
    margin: 40px 0;
  }

  #gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Start with 3 columns */
    gap: 20px;
    padding: 20px;
  }

  .gallery-item {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  /* .gallery-item:hover {
    transform: scale(1.1);
    } */
    
    .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  .gallery-item img:hover {
    transform: scale(1.1);
  }

  footer p{
    text-align: center;
    color: #eaeaea;
    font-size: 16px;
    margin: 10px 0;
  }
  